body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
}

.container {
  padding: 0;
  margin-top: 40px;
}

h1 {
  margin-top: 30px;
}

h3 {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
}

code {
  font-family: monospace;
  padding: 2px;
  color: black;
  background-color: #fff;
}

a {
  color: #2574A9;
}

form {
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type='text'] {
  width: 220px;
  text-align: center;
}

input[type='submit'] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

input[type='submit']:hover {
  background-color: #45a049;
}
